<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TicTacToe</display-name>
  <welcome-file-list>
    <welcome-file>views/login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GameServlet</display-name>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>controllers.GameServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>StartGame</display-name>
    <servlet-name>StartGame</servlet-name>
    <servlet-class>controllers.StartGame</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ChallengeFriend</display-name>
    <servlet-name>ChallengeFriend</servlet-name>
    <servlet-class>controllers.ChallengeFriend</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controllers.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>controllers.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/game</url-pattern>
    <url-pattern>/views/game</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StartGame</servlet-name>
    <url-pattern>/startGame</url-pattern>
    <url-pattern>/views/startGame</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/views/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
    <url-pattern>/views/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/register</url-pattern>
    <url-pattern>/views/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChallengeFriend</servlet-name>
    <url-pattern>/challengeFriend</url-pattern>
    <url-pattern>/views/challengeFriend</url-pattern>
  </servlet-mapping>
</web-app>